@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
}
.left {
  width: 18vw;
}
.right {
  width: 82vw;
}
.home {
  margin: 8px 4px 4px 8px;
  padding: 20px;
}
.home ul li {
  display: flex;
  gap: 15px;
  width: 18px;
  list-style: none;
  padding-top: 14px;
  color: white;
}
.box-2 {
  margin: 8px 4px 4px 8px;
}
.stack {
  padding: 20px;
}
.stack p {
  margin-left: 15px;
  color: white;
}
.playlist-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}
.lib-box {
  background-color: #242424;
  padding: 13px 30px 18px 30px;
  margin: 0px 8px 20px 8px;
}
.lib-box ul li {
  list-style: none;
  padding-top: 14px;
  color: white;
}
.btn {
  border: none;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  margin-left: auto;
}
.btn:hover {
  background: #303030;
  color: white;
}
.lib-box ul li p {
  font-size: small;
}
.footer {
  padding: 20px;
  margin: 8px;
}
.footer a {
  color: white;
  padding: 7px;
  font-size: smaller;
}
.footer-btn {
  padding: 20px;
  margin: 8px;
  justify-content: center;
  align-items: center;
}
.footer-btn button {
  /* margin: 10px; */
  background: none;
  color: white;
  border: 0.5px solid white;
  border-radius: 20px;
  padding: 3px 10px 3px 10px;
  cursor: pointer;
  margin-left: auto;
}
.footer-btn button img {
  padding-top: 3px;
}
.right {
  margin: 8px 8px 8px 8px;
}
.header {
  justify-content: space-between;
  padding: 20px;
}
.navigate {
  background-color: rgba(0, 0, 0, 0.32);
  border-radius: 40%;
  border: none;
  padding: 2px;
}
.btn-1 {
  border: none;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  background: #000;
  color: grey;
  cursor: pointer;
  margin-left: auto;
}
.btn-1:hover {
  background: #303030;
  color: white;
}

.s1 {
  background: linear-gradient(to top, #1a1a1a, #242424);
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 0px 18px 10px 18px;
}
.head a {
  color: gray;
  font-size: small;
}
.boxes {
  padding: 0px 0px 40px 0px;
  height: 65vh;
  margin: 8px;
}
.card {
  width: 165px;
  height: 33vh;
  padding: 18px;
  position: relative;
  /* background-color: #000; */
  background: linear-gradient(to bottom, #1d1d1d, #242424);
}
.card img {
  width: 100%;
  object-fit: contain;
}
.about ul li {
  list-style: none;
}
.play {
  width: 40px;
  height: 40px;
  padding: 4px;
  background-color: #1fdf64;
  border-radius: 50%;
  justify-content: center;
  position: absolute;
  top: 125px;
  right: 25px;
  opacity: 0;
  transition: 1s ease-in;
}

.play svg {
  width: 60%;
  stroke: #000000;
}

.scroll {
  max-height: 100vh;
  overflow-y: scroll;
}
