@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.left {
  width: 18vw;
  /* border-right: 1px solid white; */
}
.right {
  width: 82vw;
  /* height: 70vh; */
}
.home {
  margin: 8px 4px 4px 8px;
  padding: 20px;
}
.home ul li {
  display: flex;
  gap: 15px;
  width: 18px;
  list-style: none;
  padding-top: 14px;
  color: white;
}
.box-2 {
  height: 70vh;
  margin: 8px 4px 4px 8px;
}
.stack {
  padding: 20px;
}
.stack p {
  margin-left: 15px;
  color: white;
}
.playlist-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}
.lib-box {
  background-color: #242424;
  padding: 13px 30px 18px 30px;
  margin: 0px 8px 20px 8px;
}
.lib-box ul li {
  list-style: none;
  padding-top: 14px;
  color: white;
}

.lib-box ul li p {
  font-size: small;
}
.local-songs {
  background-color: #242424;
  padding-left: 10px;
  margin: 0px 10px 10px 10px;
  border-radius: 7px;
}
.local-songs ul {
  margin: 10px 8px 10px 8px;
  max-height: 40vh;
}
.local-songs ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  cursor: pointer;
  padding: 12px 12px;
  background: #1e1e1e;
  border-radius: 7px;
  margin: 8px 0px;
}

.info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}
.info div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.btn {
  border: none;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  margin-left: auto;
}
.btn:hover {
  background: #303030;
  color: white;
}

.footer {
  padding: 20px;
  margin: 8px;
}
.footer a {
  color: white;
  padding: 7px;
  font-size: smaller;
}
.footer-btn {
  padding: 20px;
  margin: 8px;
  justify-content: center;
  align-items: center;
}
.footer-btn button {
  background: none;
  color: white;
  border: 0.5px solid white;
  border-radius: 20px;
  padding: 3px 10px 3px 10px;
  cursor: pointer;
  margin-left: auto;
}
.footer-btn button img {
  padding-top: 3px;
}
.right {
  margin: 8px 8px 8px 8px;
}
.header {
  justify-content: space-between;
  padding: 20px;
}
.navigate {
  background-color: rgba(0, 0, 0, 0.32);
  border-radius: 40%;
  border: none;
  padding: 2px;
}
.btn-1 {
  border: none;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  background: #000;
  color: grey;
  cursor: pointer;
  margin-left: auto;
}
.btn-1:hover {
  background: #303030;
  color: white;
}

.s1 {
  background: linear-gradient(to top, #1a1a1a, #242424);
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 15px 18px 10px 18px;
}
.head a {
  color: gray;
  font-size: small;
}
.boxes {
  padding: 0px 0px 40px 0px;
  height: 65vh;
  margin: 8px;
  gap: 15px;
}
.card {
  width: 11%;
  height: 33vh;
  padding: 18px;
  position: relative;
  background: linear-gradient(to bottom, #1d1d1d, #242424);
}
.card img {
  width: 100%;
  object-fit: contain;
}
.about ul li {
  list-style: none;
}
.play {
  width: 40px;
  height: 40px;
  padding: 4px;
  background-color: #1fdf64;
  border-radius: 50%;
  justify-content: center;
  position: absolute;
  top: 125px;
  right: 25px;
  opacity: 0;
  transition: 0.5s ease-in;
}
.card:hover .play {
  opacity: 1;
}
.type {
  padding: 0px 18px 10px 18px;
}
.card:hover {
  background: #303030;
  transition: 0.5s ease-in;
}
.play svg {
  width: 60%;
  stroke: #000000;
}

.scroll {
  max-height: 100vh;
  overflow-y: scroll;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #ffffff;
  filter: invert(1);
}
.song {
  padding: 0px;
}
.song-nav {
  justify-content: center;
}

.seekbar-container {
  width: 100%;
}

.seek {
  width: 600px;
  height: 1px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
  padding: 2px;
  position: relative;
  background-color: #00000000;
  overflow: hidden;
  cursor: pointer;
}

.progress-bar {
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: width 0.1s linear;
  width: 0;
}
.seek:hover .progress-bar {
  background-color: rgb(77, 230, 92);
}
.seek:active .progress-bar {
  background-color: rgb(77, 230, 92);
}

.pad {
  padding: 0px 20px 2px 20px;
}

#duration {
  position: relative;
  width: 50px;
  right: 16%;
}
#totalDuration {
  position: relative;
  width: 50px;
  left: 16%;
}

.song-info {
  padding: 5px 30px 0px 30px;
  position: relative;
  overflow: hidden;
  width: 10%;
}

#volBar {
  width: 100px;
  height: 1px;
  margin: 10px;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-color: #4a4949;
}

#volKnob {
  width: 5px;
  height: 5px;
  top: 50%;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  background-color: #000000;
  left: 100%;
  transform: translateY(-50%) translateX(-50%);
}
.centered-button {
  gap: 5px;
  align-items: center;
}
/* #left{
  height: 100%;
  right: 0;
  box-sizing: border-box;
}
#right{
  height: 100%;
  right: 0;
  box-sizing: border-box;
} */

/* #left::after {
  content: '';
  background-color: #ccc;
  position: absolute;
  width: 4px;
  height: 100%;
  cursor: ew-resize;
  left: 0;
}


#right::after {
  content: '';
  background-color: #ccc;
  position: absolute;
  width: 4px;
  height: 100%;
  cursor: ew-resize;
  right: 0;
} */
@media (max-width: 1810px) {
  .play {
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
    justify-content: center;
    position: absolute;
    top: 43%;
    right: 25px;
  }
}

@media (max-width: 1650px) {
  .left {
    width: 20vw;
  }

  .play {
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
    justify-content: center;
    position: absolute;
    top: 105px;
    right: 25px;
  }
  .local-songs ul li {
    gap: 7px;
    padding: 5px 9px;
    font-size: small;
  }
  .local ul {
    min-height: 35vh;
  }
  .boxes {
    gap: 13px;
  }
  .lib-box {
    margin-bottom: 10px;
  }
  .lib-box ul li {
    padding-top: 8px;
  }

  .lib-box ul li p {
    font-size: smaller;
  }
  .btn {
    font-size: smaller;
    padding: 8px 10px;
  }
  .footer {
    font-size: smaller;
    padding: 5px;
  }
  .box-2 {
    height: 65vh;
  }

  .footer-btn {
    padding: 10px;
  }
}

@media (max-width: 1599px) {
  .left {
    width: 25vw;
  }
  .boxes {
    justify-content: left;
    gap: 30px;
    max-height: 60vh;
  }
  .card {
    width: 15%;
    height: auto;
  }
  .play {
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
    justify-content: center;
    position: absolute;
    top: 44%;
    right: 25px;
  }
}

@media (max-width: 1223px) {
  .boxes {
    justify-content: left;
    gap: 20px;
    /* max-height: 60vh; */
  }
  .card {
    width: 13vw;
  }
}

@media (max-width: 1158px) {
  .boxes {
    gap: 20px;
    justify-content: left;
  }
  .card {
    width: 13vw;
  }
  .card span {
    font-size: smaller;
  }
}

@media (max-width: 1125px) {
  .song-info {
    padding: 5px 30px 0px 30px;
    position: relative;
    overflow: hidden;
    width: 12%;
  }
}
@media (max-width: 1069px) {
  .boxes {
    gap: 10%;
    justify-content: center;
  }
  
}
